.container {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: 100%;
  height: 120px;
  padding: 3rem;

  background-color: #1c1d46;
  border-radius: 0 0 50px 50px;
}

.adminContainer {
  display: flex;
  gap: 2rem;

  margin-left: auto;
}

.title {
  color: rgba(204, 0, 0, 1);
}

#loginButton {
  margin-left: auto;
}

#homeButton {
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0.3rem 1rem;

  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgba(0, 125, 0, 1) 0%,
    rgba(121, 255, 0, 1) 100%
  );
}
